[Unit]
Description=Process Respawn
After=network.target

[Service]
WorkingDirectory=/home/popemkt/.hoang-toolkit/proc-respawn
Type=notify
ExecStart=/usr/local/bin/ProcRespawn
Restart=always
User=popemkt
Environment=DOTNET_ROOT=/usr/lib64/dotnet

[Install]
WantedBy=graphical-session.target
